@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: cursivatitulo;
    src: url(fonts/Stars&Love-BottomHeavy.ttf);
}


:root {
    --azulclaro: #e3f1ff;
    --azulfundo: #86D3FF;
    --rosafonte: rgb(194, 0, 97);
    --rosaclaro: #FF8DB6;
    --lilasfundo: #e3cfffce; 
}
* {
    padding: 0px;
}
header#cabecalho {
    min-height: 150px;
    min-width: 320px;
    background-color: #86D3FF;
    margin: -10px 0px 0px -8px;
}
img#logotipo {
    border-radius: 50%;
    margin: auto;
    display: block;
}
nav#menu {
    background-color: #86D3FF;
    padding-bottom: 30px;
    list-style: none;
    text-align: center;
    min-width: 320px;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.395);
}
nav#menu a {
    display: inline-block;
    margin: 5px;
    color: var(--rosafonte);
    background-color: rgba(209, 224, 254, 0.652);
    border-radius: 100px;
    padding: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #86d3ffb2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.351);
}
nav#menu a:hover{
    background-color: rgb(192, 204, 237);
}
body {
    background-color: #e3f1ff;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    margin: 0px;
}
main#interface {
    display: block;
    min-width: 300px;
    max-width: 800px;
    background-color: rgb(255, 255, 255);
    margin: -10px auto 0px auto;
    padding: 10px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
}
main h1 {
    font-family: 'cursivatitulo', cursive;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--rosafonte);
    font-size: 2.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.318);
}
main h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
    color: var(--rosafonte);
    font-size: 1.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.318);
}
main h3 {
    text-align: center;
    margin: 0px;
    padding: 20px;
    color: var(--rosafonte);
    font-size: 1.7em;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.318);
}
main p {
    padding: 10px;
    margin: 0px;
    text-indent: 30px;
}
.container {
    margin-top: 5px;
    display: flex;
    background-color: var(--azulclaro);
    padding: 15px;
    border-radius: 10px;
    box-shadow:  0px 0px 5px rgba(0, 0, 0, 0.353);
}
@media (max-width: 480px){
    .container {
        display: grid;
        justify-items: center;
    }
    img.tam2 {
        width: 250px !important;
        height: 300px !important;
    }
    .produtos {
        display: grid;
        justify-items: center;
        padding: 10px;
    }
}
.container img#confeiteira {
    max-width: 236px;
    max-height: 305px;
    border-radius: 10px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, .2);
    border: 2px solid rgb(195, 179, 179);
}

.container > p {
    padding: 15px;
    font: normal normal 18px arial, verdana, sans-serif;
    color: dimgray;
    text-align: center;
}
div.produtos {
    background-color: var(--lilasfundo);
    transition: .5s;
    padding: 40px;
}
div.produtos:hover {
    background-color: var(--lilasfundo);
}
div.produtos p {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: var(--rosafonte);
    margin: 0px;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.334);
}
div.produtos a {
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 15px 10px 10px 10px;
    text-decoration: none;
    color: var(--rosafonte);
    transition: 0.5s;
    font-weight: 600;
}
div.produtos a:hover {
    background-color: var(--lilasfundo);
    border-radius: 10px;
    text-decoration: underline;
}
div.produtos img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.466);
}
@media (max-width:350px) {
    .produtos {
        padding: 0px !important;
        padding-top: 10px !important
    }
}
@media (min-width:550px) {
    .produtos {
        display: grid;
        justify-items: center;
    }
    .produtos img.tam {
        width: 450px !important;
        height: 525px !important;
    }
}
footer {
    background-color: #86D3FF;
    padding: 5px;
    clear: both;
    border-top: 1px rgba(0, 0, 0, 0.162) solid;
    text-align: center;
    margin-top: 15px;
}
footer a {
    color: var(--rosafonte);
    font-size: 18px;
    text-decoration: none;
    padding: 5px;
}
strong {
    font-weight: normal;
}
/*
div#frase {
    display: block;
    font-style: oblique;
    color: rgb(189, 0, 94);
    background-color: #c2ddf88e;
    margin-top: 230px;
    margin-left: -10px;
    margin-right: -10px;
    font-size: 30pt;
    padding: 80px;
    font-family: 'Poiret One', sans-serif;
    font-weight: lighter;
    text-align: center;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, .3);
}
*/
@media (max-width:433px){
    /*ATE 433 DE LARGURA A MARGIM VAI SER 0*/
    section#form {
        margin: 0px 0px !important;
    }
}
section#form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--lilasfundo);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.258);
    margin: 0px 40px;
}
form {
    border-radius: 5px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
input, textarea, button {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.258);
    background-color: white;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.49);
    padding: 15px;
    outline: none;
    margin: 5px;
}
button {
    cursor: pointer;
    font-weight: bold;
}
h2.formulario {
    padding: 15px;
}
.whats {
    display: flex;
    align-items: center;
}
.whats a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: green;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
